body{
    background: #f8edeb;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app{
    display: grid;
    grid-template-columns: 1fr,1fr;
    grid-auto-rows: minMax(100, auto);
    /* grid-template-columns:  */
    height:90vh;
    /* background: #f8edeb; */
    color: #1b4332;
    justify-content: center;
    /* grid-gap: 2px; */
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}
.entry{
    background: rgba(81, 115, 79, .6);
    /* display: block; */
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 27px;
}

input{
    display:block;
    height: 60px;
    width: 320px;
    background:#dad7cd;
    color: #1b4332;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
}

button{
    /* display: inline-block; */
    width: 200px;
    height: 80px;
    background: #3a5a40;
    color: #dad7cf;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #3a5a40;
}
button:active{
    background-color: rgb(81, 115, 79);
}
h1{
    font-size: 36px;
}

textarea{
    /* display: block; */
    background:#dad7cd;
    color: #3a5a40;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */
    color: #3a5a40;
    font-family: 'Oswald', sans-serif;

}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #3a5a40;
    font-family: 'Oswald', sans-serif;

}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #3a5a40;
    font-family: 'Oswald', sans-serif;

}
